.jumbotron{
    background-color: rgb(64, 35, 105);
    color: rgb(255, 253, 255);
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    border-left: 64px;
    border-top: 32px;
    border-bottom: 32px;
    padding: 3rem;
}
.jumbotron1{
    background-color: #6d5737;
    color: rgb(255, 253, 255);
    margin-bottom: 25px;
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 30px;
    border-left: 64px;
    border-top: 19px;
    border-bottom: 18px;
    padding: 0.3rem;
    padding-left: 2rem
}

body {
  padding-top: 2rem;
}
.footer {
  text-align: center;
}
.item{
    margin-top: 5px;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 1em;
    border-radius: 11px;
    border-color: greenyellow;
    background-color: #05a4bb;
    box-shadow: inset -2px -2px 5px 0px #177d06;
    }


.table{
    margin-bottom: 5px;
     margin-top: 15px;
    margin-right: 300px;
    color: deepskyblue;
    border-style: dashed;
    border-bottom-color: blueviolet;
    border-left-color: #844f01;
    border-right-color: #ec3853;
    border-top-color: #02d035;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;

}
.table1{
    margin-top: 15px;
      margin-bottom: 5px;
 margin-left: 300px;
    color: #fb1c39;
    border-left-color: #0ea9a9;
    border-top-color: chocolate;
    border-bottom-color: #0cf5e5;
    border-right-color: hotpink;
    border-style: dotted;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;

}
.image{
    
    
    margin-right: 3px;
    margin-top: 0.5px;
    border-top-right-radius: 15px;
    padding-left: 25.3rem;
}
.image1{
    
    
    margin-right: 3px;
    margin-top: 0.5px;
    border-top-right-radius: 15px;
    padding-left: 24.05rem;
}
.image2{
    
    
    margin-right: 3px;
    margin-top: 0.5px;
    border-top-right-radius: 15px;
    padding-left: 19.35rem;
}
